<!DOCTYPE html>
<html lang="bg">
{% load static %}
{% include 'main/head.html' %}
<body>
    <main class="page-wrapper">
        <div id="my_switcher" class="my_switcher">
            <ul>
                <li>
                    <a href="javascript: void(0);" data-theme="light" class="setColor light">
                        <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images' %}"><span title="Light Mode"> Light</span>
                    </a>
                </li>
                <li>
                    <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                        <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images' %}"><span title="Dark Mode">
                    Dark</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Start Header Area  -->
        <header class="rainbow-header header-default header-not-transparent header-sticky">
            <div class="container position-relative">
                <div class="row align-items-center row--0">
                    <div class="col-lg-3 col-md-6 col-6">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                                <img class="logo-light" src="{% static 'assets/images/logo/logo.png' %}" alt="ChatBot Logo">
                                <img class="logo-dark" src="{% static 'assets/images/logo/logo.png' %}" alt="Corporate Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-6 col-6 position-static">
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header Area  -->

        <div class="popup-mobile-menu">
            <div class="inner-popup">
                <div class="header-top">
                    <div class="logo">
                        <a href="index.html">
                            <img class="logo-light" src="{% static 'assets/images/logo/logo.png' %}" alt="Corporate Logo">
                            <img class="logo-dark" src="{% static 'assets/images/logo/logo.png' %}" alt="Corporate Logo">
                        </a>
                    </div>
                    <div class="close-menu">
                        <button class="close-button">
                            <i class="feather-x"></i>
                        </button>
                    </div>
                </div>

                <div class="content">
                    <div class="rbt-sm-separator"></div>
                    <div class="rbt-default-sidebar-wrapper">

                        <div class="rbt-sm-separator"></div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Imroz Preloader -->
        <div class="preloader">
            <div class='loader'>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
                <div class='circle'></div>
            </div>
        </div>

{% block content %}

        <!-- Start Seperator Area  -->
        <div class="chatenai-separator">
            <img class="w-100 separator-dark" src="{% static 'assets/images/separator/separator-top.svg' %}" alt="separator">
            <img class="w-100 separator-light" src="{% static 'assets/images/light/separator/separator-top.svg' %}" alt="separator">
        </div>
        <!-- End Seperator Area  -->

{% endblock %}

{% include 'main/footer.html' %}
    </main>
{% include 'main/js.html' %}
</body>

</html>